<h2> Products in the market </h2>

<table>
  <tbody>
    <tr>
      <th>ID</th>
      <th>Item</th>
      <th>Cost</th>
      <th>Seller</th>
    </tr>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
      	<td><%= product.name %></td>
      	<td>$<%= product.price %></td>
      	<td><%= product.user.name if product.user.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

   
   
	
 


